# --- Project-specific ---
data/
exports/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.log

# --- Virtual environments ---
.venv/
venv/
ENV/
env/
*.env

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb~

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Editors ---
.vscode/
.idea/


# --- Generated Images/Figures ---
Images/
diagram/